.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.formField{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.formLabel{
    font-weight: bold;
}
.formField img{
    width: 8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.formCheck label{
    margin-right: 1rem;
    margin-left: 1rem;
}