.modalBackground {
  /*position: absolute;
    z-index: 3000;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #191b1dc7; */

  margin: auto;
  width: 100%;
  z-index: 8999;
  position: fixed;
  top: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalContainer {
  margin: 20rem auto;
  width: 82%;
  padding: 2rem;
  background: rgb(255, 255, 255);
}
.modalContainer input{
  margin-left: 1rem;
}